@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#content1-m P {
  text-align: center;
  color: #777777;
  font-size: 17px;
}
#image2-j SMALL {
  text-align: center;
  font-size: 17px;
  color: #777777;
}
#image2-j B {
  font-size: 25px;
  color: #000000;
}
#contacts3-n B {
  color: #ffffff;
}
#contacts3-n P {
  color: #ffffff;
}
#contacts3-n UL {
  color: #ffffff;
}
#dropdown-menu-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-h .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#dropdown-menu-h .nav .link,
#dropdown-menu-h .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-h .navbar,
#dropdown-menu-h .dropdown-menu {
  background: #000000;
}
#dropdown-menu-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-h .dropdown-menu a:hover,
#dropdown-menu-h .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-h .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-h .btn {
  font-size: 14px;
}


#header4-1v B {
  color: #ffffff;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #000000;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-s .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-s .btn {
  font-size: 14px;
}
#contacts3-t B {
  color: #ffffff;
}
#contacts3-t P {
  color: #ffffff;
}
#contacts3-t UL {
  color: #ffffff;
}


#dropdown-menu-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1e .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#dropdown-menu-1e .nav .link,
#dropdown-menu-1e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1e .navbar,
#dropdown-menu-1e .dropdown-menu {
  background: #000000;
}
#dropdown-menu-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1e .dropdown-menu a:hover,
#dropdown-menu-1e .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-1e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1e .btn {
  font-size: 14px;
}
#msg-box4-1g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1g .mbr-article {
  color: #ffffff;
}
#msg-box4-1g .mbr-article P {
  font-size: 13px;
}
#msg-box4-1g .mbr-article UL {
  font-size: 13px;
}
#contacts3-1f B {
  color: #ffffff;
}
#contacts3-1f P {
  color: #ffffff;
}
#contacts3-1f UL {
  color: #ffffff;
}



#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1 .btn {
  font-size: 14px;
}
#header3-3 P {
  text-align: center;
}
#header3-3 H3 {
  text-align: center;
  font-size: 25px;
  color: #252525;
}
#header3-3 SPAN {
  font-size: 17px;
  color: #252525;
}
#content4-17 P {
  color: #fac51c;
  font-size: 60px;
  text-align: left;
}
#content4-17 .mbr-section-title .mbr-header__text {
  font-size: 48px;
}
#content4-17 .mbr-section__col .mbr-header__text {
  font-size: 36px;
}
#msg-box4-x .mbr-header__text {
  color: #777777;
  text-align: left;
}
#msg-box4-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-x .mbr-article {
  color: #ffffff;
}
#msg-box4-x .mbr-article P {
  text-align: left;
  color: #777777;
}
#features1-11 P {
  font-size: 14px;
  text-align: center;
}
#features1-11 .mbr-section__col .mbr-header__text {
  font-size: 15px;
}
#features1-11 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-11 .mbr-header__subtext SPAN {
  font-size: 14px;
}
#msg-box5-7 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#msg-box5-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-7 .mbr-article {
  color: #ffffff;
}
#header3-d H3 {
  text-align: center;
  font-size: 46px;
}
#header3-d P {
  text-align: left;
  color: #252525;
  font-size: 14px;
}
#pricing-table1-4 H3 {
  text-align: center;
}
#pricing-table1-4 .mbr-plan__details UL {
  text-align: center;
}
#pricing-table1-4 UL {
  text-align: center;
}
#content5-1x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-1x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1x .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
#content1-16 P {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
#contacts3-n B {
  color: #ffffff;
}
#contacts3-n P {
  color: #ffffff;
}
#contacts3-n UL {
  color: #ffffff;
}
